<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/kursPawe%C5%82Krakowiak/pandas_course/05_merge_join_concatenate/02_append.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# -*- coding: utf-8 -*-

"""
@author: krakowiakpawel9@gmail.com
@site: e-smartdata.org
"""

import numpy as np
import pandas as pd

In [ ]:
df1 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
df1

          a         b         c         d
0  0.550251  0.194955  0.785011  0.052714
1  0.822337  0.138260  0.169348  0.989598
2  0.492820  0.449197  0.905626  0.349743
3  0.660137  0.096841  0.751558  0.554801
4  0.691519  0.147784  0.715742  0.217562
5  0.450103  0.808034  0.324755  0.605189
6  0.897755  0.520464  0.647109  0.526018
7  0.837794  0.726159  0.933761  0.417785
8  0.710743  0.262777  0.057981  0.695323
9  0.646288  0.456789  0.945209  0.285792

In [ ]:
df2 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
df2

          a         b         c         d
0  0.547655  0.507054  0.027357  0.619003
1  0.894975  0.821961  0.067866  0.614540
2  0.403697  0.020353  0.485783  0.836350
3  0.159965  0.815582  0.282923  0.257643
4  0.471499  0.659415  0.692049  0.493067
5  0.257363  0.644743  0.886052  0.469514
6  0.572691  0.824857  0.755121  0.265160
7  0.608841  0.020240  0.863076  0.161245
8  0.290261  0.880607  0.875761  0.022189
9  0.661260  0.893881  0.415424  0.038224

In [ ]:
df3 = pd.DataFrame(np.random.rand(10, 4), columns=list('abcd'))
df3

          a         b         c         d
0  0.133124  0.083814  0.459432  0.929081
1  0.574284  0.709886  0.087544  0.329315
2  0.226349  0.800961  0.658551  0.424322
3  0.165561  0.894832  0.512571  0.915763
4  0.842484  0.250722  0.186330  0.389981
5  0.596073  0.535699  0.289545  0.144059
6  0.674521  0.652559  0.734532  0.462346
7  0.085515  0.092294  0.906785  0.184667
8  0.648013  0.074655  0.796897  0.496485
9  0.279212  0.836931  0.257517  0.964948

In [ ]:
# %%
# sort_index() sortuje indeksy po złączeniu 0,0,1,1,2,2,... 
# reset_index() robi z indeksów kolumnę o nazwie 'index', a jako indeksy tworzy 0,1,2,3...
df = df1.append(df2).sort_index().reset_index()
df

    index         a         b         c         d
0       0  0.550251  0.194955  0.785011  0.052714
1       0  0.547655  0.507054  0.027357  0.619003
2       1  0.822337  0.138260  0.169348  0.989598
3       1  0.894975  0.821961  0.067866  0.614540
4       2  0.492820  0.449197  0.905626  0.349743
5       2  0.403697  0.020353  0.485783  0.836350
6       3  0.660137  0.096841  0.751558  0.554801
7       3  0.159965  0.815582  0.282923  0.257643
8       4  0.691519  0.147784  0.715742  0.217562
9       4  0.471499  0.659415  0.692049  0.493067
10      5  0.450103  0.808034  0.324755  0.605189
11      5  0.257363  0.644743  0.886052  0.469514
12      6  0.897755  0.520464  0.647109  0.526018
13      6  0.572691  0.824857  0.755121  0.265160
14      7  0.608841  0.020240  0.863076  0.161245
15      7  0.837794  0.726159  0.933761  0.417785
16      8  0.290261  0.880607  0.875761  0.022189
17      8  0.710743  0.262777  0.057981  0.695323
18      9  0.646288  0.456789  0.945209  0.285792
19      9  0.661260  0.893881  0.415424  0.038224

In [ ]:
# usuwa kolumnę 'index'
del df['index']
df

           a         b         c         d
0   0.550251  0.194955  0.785011  0.052714
1   0.547655  0.507054  0.027357  0.619003
2   0.822337  0.138260  0.169348  0.989598
3   0.894975  0.821961  0.067866  0.614540
4   0.492820  0.449197  0.905626  0.349743
5   0.403697  0.020353  0.485783  0.836350
6   0.660137  0.096841  0.751558  0.554801
7   0.159965  0.815582  0.282923  0.257643
8   0.691519  0.147784  0.715742  0.217562
9   0.471499  0.659415  0.692049  0.493067
10  0.450103  0.808034  0.324755  0.605189
11  0.257363  0.644743  0.886052  0.469514
12  0.897755  0.520464  0.647109  0.526018
13  0.572691  0.824857  0.755121  0.265160
14  0.608841  0.020240  0.863076  0.161245
15  0.837794  0.726159  0.933761  0.417785
16  0.290261  0.880607  0.875761  0.022189
17  0.710743  0.262777  0.057981  0.695323
18  0.646288  0.456789  0.945209  0.285792
19  0.661260  0.893881  0.415424  0.038224

In [ ]:
# %% robi to samo, ale zamiast del używa drop()
df = df1.append(df2).sort_index().reset_index().drop('index', axis=1)
df

           a         b         c         d
0   0.550251  0.194955  0.785011  0.052714
1   0.547655  0.507054  0.027357  0.619003
2   0.822337  0.138260  0.169348  0.989598
3   0.894975  0.821961  0.067866  0.614540
4   0.492820  0.449197  0.905626  0.349743
5   0.403697  0.020353  0.485783  0.836350
6   0.660137  0.096841  0.751558  0.554801
7   0.159965  0.815582  0.282923  0.257643
8   0.691519  0.147784  0.715742  0.217562
9   0.471499  0.659415  0.692049  0.493067
10  0.450103  0.808034  0.324755  0.605189
11  0.257363  0.644743  0.886052  0.469514
12  0.897755  0.520464  0.647109  0.526018
13  0.572691  0.824857  0.755121  0.265160
14  0.608841  0.020240  0.863076  0.161245
15  0.837794  0.726159  0.933761  0.417785
16  0.290261  0.880607  0.875761  0.022189
17  0.710743  0.262777  0.057981  0.695323
18  0.646288  0.456789  0.945209  0.285792
19  0.661260  0.893881  0.415424  0.038224

In [ ]:
# %% połączenie df1 i df2 ignorując początkowe indeksy
df = df1.append(df2, ignore_index=True)
df

           a         b         c         d
0   0.550251  0.194955  0.785011  0.052714
1   0.822337  0.138260  0.169348  0.989598
2   0.492820  0.449197  0.905626  0.349743
3   0.660137  0.096841  0.751558  0.554801
4   0.691519  0.147784  0.715742  0.217562
5   0.450103  0.808034  0.324755  0.605189
6   0.897755  0.520464  0.647109  0.526018
7   0.837794  0.726159  0.933761  0.417785
8   0.710743  0.262777  0.057981  0.695323
9   0.646288  0.456789  0.945209  0.285792
10  0.547655  0.507054  0.027357  0.619003
11  0.894975  0.821961  0.067866  0.614540
12  0.403697  0.020353  0.485783  0.836350
13  0.159965  0.815582  0.282923  0.257643
14  0.471499  0.659415  0.692049  0.493067
15  0.257363  0.644743  0.886052  0.469514
16  0.572691  0.824857  0.755121  0.265160
17  0.608841  0.020240  0.863076  0.161245
18  0.290261  0.880607  0.875761  0.022189
19  0.661260  0.893881  0.415424  0.038224