<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/kursPawe%C5%82Krakowiak/pandas_course/05_merge_join_concatenate/05_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# -*- coding: utf-8 -*-

"""
@author: krakowiakpawel9@gmail.com
@site: e-smartdata.org
"""

import numpy as np
import pandas as pd

In [9]:
# kolumny a,b,c. Daty od 2019-01-01 do 2019-01-10
left = pd.DataFrame(np.random.rand(10, 3),
                    index=pd.date_range('2019-01-01', periods=10),
                    columns=list('abc'))
left

                   a         b         c
2019-01-01  0.009045  0.533760  0.687623
2019-01-02  0.271368  0.602076  0.494312
2019-01-03  0.124634  0.368464  0.472082
2019-01-04  0.537059  0.645856  0.149713
2019-01-05  0.062123  0.145967  0.078469
2019-01-06  0.805686  0.094088  0.130087
2019-01-07  0.364324  0.942425  0.366513
2019-01-08  0.571357  0.361214  0.701442
2019-01-09  0.088933  0.062898  0.660704
2019-01-10  0.573722  0.998228  0.668963

In [10]:
# kolumny d,e,f. Daty od 2019-01-04 do 2019-01-13
right = pd.DataFrame(np.random.rand(10, 3),
                     index=pd.date_range('2019-01-04', periods=10),
                     columns=list('def'))
right

                   d         e         f
2019-01-04  0.761155  0.334625  0.916146
2019-01-05  0.873414  0.595417  0.847474
2019-01-06  0.476330  0.591930  0.106164
2019-01-07  0.676045  0.178782  0.215111
2019-01-08  0.076557  0.230675  0.564441
2019-01-09  0.128311  0.048601  0.339267
2019-01-10  0.234525  0.238367  0.248314
2019-01-11  0.984922  0.960734  0.148763
2019-01-12  0.183104  0.926086  0.695923
2019-01-13  0.342066  0.952595  0.556111

In [11]:
# %% left
left_join = left.join(right, how='left')
left_join

                   a         b         c         d         e         f
2019-01-01  0.009045  0.533760  0.687623       NaN       NaN       NaN
2019-01-02  0.271368  0.602076  0.494312       NaN       NaN       NaN
2019-01-03  0.124634  0.368464  0.472082       NaN       NaN       NaN
2019-01-04  0.537059  0.645856  0.149713  0.761155  0.334625  0.916146
2019-01-05  0.062123  0.145967  0.078469  0.873414  0.595417  0.847474
2019-01-06  0.805686  0.094088  0.130087  0.476330  0.591930  0.106164
2019-01-07  0.364324  0.942425  0.366513  0.676045  0.178782  0.215111
2019-01-08  0.571357  0.361214  0.701442  0.076557  0.230675  0.564441
2019-01-09  0.088933  0.062898  0.660704  0.128311  0.048601  0.339267
2019-01-10  0.573722  0.998228  0.668963  0.234525  0.238367  0.248314

In [12]:
# %% right
right_join = left.join(right, how='right')
right_join

                   a         b         c         d         e         f
2019-01-04  0.537059  0.645856  0.149713  0.761155  0.334625  0.916146
2019-01-05  0.062123  0.145967  0.078469  0.873414  0.595417  0.847474
2019-01-06  0.805686  0.094088  0.130087  0.476330  0.591930  0.106164
2019-01-07  0.364324  0.942425  0.366513  0.676045  0.178782  0.215111
2019-01-08  0.571357  0.361214  0.701442  0.076557  0.230675  0.564441
2019-01-09  0.088933  0.062898  0.660704  0.128311  0.048601  0.339267
2019-01-10  0.573722  0.998228  0.668963  0.234525  0.238367  0.248314
2019-01-11       NaN       NaN       NaN  0.984922  0.960734  0.148763
2019-01-12       NaN       NaN       NaN  0.183104  0.926086  0.695923
2019-01-13       NaN       NaN       NaN  0.342066  0.952595  0.556111

In [13]:
# %% inner
inner_join = left.join(right, how='inner')
inner_join

                   a         b         c         d         e         f
2019-01-04  0.537059  0.645856  0.149713  0.761155  0.334625  0.916146
2019-01-05  0.062123  0.145967  0.078469  0.873414  0.595417  0.847474
2019-01-06  0.805686  0.094088  0.130087  0.476330  0.591930  0.106164
2019-01-07  0.364324  0.942425  0.366513  0.676045  0.178782  0.215111
2019-01-08  0.571357  0.361214  0.701442  0.076557  0.230675  0.564441
2019-01-09  0.088933  0.062898  0.660704  0.128311  0.048601  0.339267
2019-01-10  0.573722  0.998228  0.668963  0.234525  0.238367  0.248314

In [14]:
# %% outer
outer_join = left.join(right, how='outer')
outer_join

                   a         b         c         d         e         f
2019-01-01  0.009045  0.533760  0.687623       NaN       NaN       NaN
2019-01-02  0.271368  0.602076  0.494312       NaN       NaN       NaN
2019-01-03  0.124634  0.368464  0.472082       NaN       NaN       NaN
2019-01-04  0.537059  0.645856  0.149713  0.761155  0.334625  0.916146
2019-01-05  0.062123  0.145967  0.078469  0.873414  0.595417  0.847474
2019-01-06  0.805686  0.094088  0.130087  0.476330  0.591930  0.106164
2019-01-07  0.364324  0.942425  0.366513  0.676045  0.178782  0.215111
2019-01-08  0.571357  0.361214  0.701442  0.076557  0.230675  0.564441
2019-01-09  0.088933  0.062898  0.660704  0.128311  0.048601  0.339267
2019-01-10  0.573722  0.998228  0.668963  0.234525  0.238367  0.248314
2019-01-11       NaN       NaN       NaN  0.984922  0.960734  0.148763
2019-01-12       NaN       NaN       NaN  0.183104  0.926086  0.695923
2019-01-13       NaN       NaN       NaN  0.342066  0.952595  0.556111