<a href="https://colab.research.google.com/github/KamilBienias/data-science/blob/main/kursPawe%C5%82Krakowiak/pandas_course/05_merge_join_concatenate/05_join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# -*- coding: utf-8 -*-

"""
@author: krakowiakpawel9@gmail.com
@site: e-smartdata.org
"""

import numpy as np
import pandas as pd

In [16]:
# kolumny a,b,c. Daty od 2019-01-01 do 2019-01-10
left_df = pd.DataFrame(np.random.rand(10, 3),
                    index=pd.date_range('2019-01-01', periods=10),
                    columns=list('abc'))
left_df

                   a         b         c
2019-01-01  0.316485  0.843414  0.315044
2019-01-02  0.824344  0.079174  0.034447
2019-01-03  0.051813  0.209084  0.997729
2019-01-04  0.448696  0.080498  0.371358
2019-01-05  0.895351  0.906431  0.617645
2019-01-06  0.932828  0.233256  0.249136
2019-01-07  0.249266  0.898123  0.907643
2019-01-08  0.516982  0.372686  0.942597
2019-01-09  0.228670  0.043556  0.780529
2019-01-10  0.185035  0.272793  0.501830

In [17]:
# kolumny d,e,f. Daty od 2019-01-04 do 2019-01-13
right_df = pd.DataFrame(np.random.rand(10, 3),
                     index=pd.date_range('2019-01-04', periods=10),
                     columns=list('def'))
right_df

                   d         e         f
2019-01-04  0.703575  0.624731  0.058228
2019-01-05  0.034832  0.372077  0.904835
2019-01-06  0.931279  0.385643  0.474759
2019-01-07  0.697724  0.247121  0.790695
2019-01-08  0.982499  0.333123  0.944668
2019-01-09  0.443348  0.416999  0.251255
2019-01-10  0.183908  0.383880  0.449364
2019-01-11  0.049352  0.591045  0.250381
2019-01-12  0.780264  0.298528  0.199490
2019-01-13  0.430061  0.453026  0.543487

In [18]:
# %% how='left'
left_join = left_df.join(right_df, how='left')
left_join

                   a         b         c         d         e         f
2019-01-01  0.316485  0.843414  0.315044       NaN       NaN       NaN
2019-01-02  0.824344  0.079174  0.034447       NaN       NaN       NaN
2019-01-03  0.051813  0.209084  0.997729       NaN       NaN       NaN
2019-01-04  0.448696  0.080498  0.371358  0.703575  0.624731  0.058228
2019-01-05  0.895351  0.906431  0.617645  0.034832  0.372077  0.904835
2019-01-06  0.932828  0.233256  0.249136  0.931279  0.385643  0.474759
2019-01-07  0.249266  0.898123  0.907643  0.697724  0.247121  0.790695
2019-01-08  0.516982  0.372686  0.942597  0.982499  0.333123  0.944668
2019-01-09  0.228670  0.043556  0.780529  0.443348  0.416999  0.251255
2019-01-10  0.185035  0.272793  0.501830  0.183908  0.383880  0.449364

In [19]:
# %% how='right'
right_join = left_df.join(right_df, how='right')
right_join

                   a         b         c         d         e         f
2019-01-04  0.448696  0.080498  0.371358  0.703575  0.624731  0.058228
2019-01-05  0.895351  0.906431  0.617645  0.034832  0.372077  0.904835
2019-01-06  0.932828  0.233256  0.249136  0.931279  0.385643  0.474759
2019-01-07  0.249266  0.898123  0.907643  0.697724  0.247121  0.790695
2019-01-08  0.516982  0.372686  0.942597  0.982499  0.333123  0.944668
2019-01-09  0.228670  0.043556  0.780529  0.443348  0.416999  0.251255
2019-01-10  0.185035  0.272793  0.501830  0.183908  0.383880  0.449364
2019-01-11       NaN       NaN       NaN  0.049352  0.591045  0.250381
2019-01-12       NaN       NaN       NaN  0.780264  0.298528  0.199490
2019-01-13       NaN       NaN       NaN  0.430061  0.453026  0.543487

In [20]:
# %% how='inner'
inner_join = left_df.join(right_df, how='inner')
inner_join

                   a         b         c         d         e         f
2019-01-04  0.448696  0.080498  0.371358  0.703575  0.624731  0.058228
2019-01-05  0.895351  0.906431  0.617645  0.034832  0.372077  0.904835
2019-01-06  0.932828  0.233256  0.249136  0.931279  0.385643  0.474759
2019-01-07  0.249266  0.898123  0.907643  0.697724  0.247121  0.790695
2019-01-08  0.516982  0.372686  0.942597  0.982499  0.333123  0.944668
2019-01-09  0.228670  0.043556  0.780529  0.443348  0.416999  0.251255
2019-01-10  0.185035  0.272793  0.501830  0.183908  0.383880  0.449364

In [21]:
# %% how='outer'
outer_join = left_df.join(right_df, how='outer')
outer_join

                   a         b         c         d         e         f
2019-01-01  0.316485  0.843414  0.315044       NaN       NaN       NaN
2019-01-02  0.824344  0.079174  0.034447       NaN       NaN       NaN
2019-01-03  0.051813  0.209084  0.997729       NaN       NaN       NaN
2019-01-04  0.448696  0.080498  0.371358  0.703575  0.624731  0.058228
2019-01-05  0.895351  0.906431  0.617645  0.034832  0.372077  0.904835
2019-01-06  0.932828  0.233256  0.249136  0.931279  0.385643  0.474759
2019-01-07  0.249266  0.898123  0.907643  0.697724  0.247121  0.790695
2019-01-08  0.516982  0.372686  0.942597  0.982499  0.333123  0.944668
2019-01-09  0.228670  0.043556  0.780529  0.443348  0.416999  0.251255
2019-01-10  0.185035  0.272793  0.501830  0.183908  0.383880  0.449364
2019-01-11       NaN       NaN       NaN  0.049352  0.591045  0.250381
2019-01-12       NaN       NaN       NaN  0.780264  0.298528  0.199490
2019-01-13       NaN       NaN       NaN  0.430061  0.453026  0.543487